#
# Copyright 2024 Tabs Data Inc.
#

__pycache__/
__pypackages__/
.cache
.coverage
.coverage.*
.dmypy.json
.dot
.DS_Store
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tabsdata/
.td/
.tox/
.venv/
.vs/
.vscode/
.webassets-cache
*_context
*.cover
*.egg
*.egg-info/
*.ipynb
*.log*
!client/td-sdk/tests/testing_resources/**/*.log
MANIFEST
!assets/manifest
!variant/assets/manifest
*.manifest
!.manifest
*.mo
*.pdb
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
**/*.rs.bk
*$py.class
**/build/
!.github/**/build/
**/Cargo.lock
celerybeat-schedule
celerybeat.pid
changelog.config.js
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib64/
local_dev/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
Pipfile.lock
poetry.lock
profile_default/
sdist/
share/python-wheels/
site
tests/bundle*
target/
variant/assets/manifest/SOURCETRACK.yaml
variant/assets/manifest/THIRD-PARTY
var/
venv.bak/
venv/
wheels/
client/td-sdk/tabsdata/assets
