#
# Copyright 2025 Tabs Data Inc.
#

# Required packages to develop, test and build the project. They should not be installed by the client.

# Third-party dev dependencies

-r requirements/requirements-dev-third-party.txt
-r connectors/python/tabsdata_bigquery/requirements/requirements-dev-third-party.txt
-r connectors/python/tabsdata_databricks/requirements/requirements-dev-third-party.txt
-r connectors/python/tabsdata_mongodb/requirements/requirements-dev-third-party.txt
-r connectors/python/tabsdata_mssql/requirements/requirements-dev-third-party.txt
-r connectors/python/tabsdata_salesforce/requirements/requirements-dev-third-party.txt
-r connectors/python/tabsdata_snowflake/requirements/requirements-dev-third-party.txt

# Third-party dependencies

-r requirements/requirements-third-party.txt
-r connectors/python/tabsdata_bigquery/requirements/requirements-third-party.txt
-r connectors/python/tabsdata_databricks/requirements/requirements-third-party.txt
-r connectors/python/tabsdata_mongodb/requirements/requirements-third-party.txt
-r connectors/python/tabsdata_mssql/requirements/requirements-third-party.txt
-r connectors/python/tabsdata_salesforce/requirements/requirements-third-party.txt
-r connectors/python/tabsdata_snowflake/requirements/requirements-third-party.txt
