#
# Copyright 2024 Tabs Data Inc.
#

[package]
description = "Tabsdata Execution Features"
name = "td-execution"

authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
readme = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[lib]

[features]
enterprise = []
td-test = ["dummy", "mock-env", "test-utils"]
dummy = []
mock-env = []
test_logging = []
test_tower_metadata = []
test-utils = []

[package.metadata.cargo-machete]
ignored = ["openssl", "strum", "thiserror"]

# Build dependencies

[build-dependencies]

# Internal dependencies

# External dependencies

[dependencies]

# Internal dependencies

## Macros

## Libraries

ta-execution = { workspace = true }
td-database = { workspace = true }
te-execution = { workspace = true }
td-error = { workspace = true }
td-objects = { workspace = true }
td-test = { workspace = true }

# External dependencies

async-trait = { workspace = true }
derive_builder = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
petgraph = { workspace = true }
sqlx = { workspace = true }
strum = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full"] }

# Development dependencies

[dev-dependencies]
ta-execution = { workspace = true, features = ["td-test"] }
td-objects = { workspace = true, features = ["td-test"] }
td-security = { workspace = true, features = ["td-test"] }

[target.'cfg(target_os = "linux")'.dependencies]
openssl = { workspace = true, features = ["vendored"] }
