#
# Copyright 2024 Tabs Data Inc.
#

[package]
description = "Tabsdata Build Library"
name = "td-build"

authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
readme = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[lib]

[package.metadata.cargo-machete]
ignored = ["openssl"]

[features]
enterprise = []
td-test = ["dummy", "mock-env", "test-utils"]
dummy = []
mock-env = []
test-utils = []

[dependencies]

# Internal dependencies

tm-workspace = { workspace = true }

# External dependencies

anyhow = { workspace = true }
chrono = { workspace = true }
duct = { workspace = true }
gix = { workspace = true }
hostname = { workspace = true }
iana-time-zone = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_yaml = { workspace = true }
sysinfo = { workspace = true }
toml = { workspace = true }
vergen-gix = { workspace = true, features = ["build", "cargo", "emit_and_set", "rustc", "si"] }

[target.'cfg(target_os = "linux")'.dependencies]
openssl = { workspace = true, features = ["vendored"] }

[build-dependencies]
tm-workspace = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_yaml = { workspace = true }