#
# Copyright 2025 Tabs Data Inc.
#

accessify==0.3.1
base32hex==1.0.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
connectorx==0.4.4
fastavro==1.12.0
fastparquet==2024.11.0
filelock==3.19.1
humanize==4.13.0
hvac==2.3.0
ijson==3.4.0
importlib_metadata==8.7.0
numpy==2.3.3
packaging==25.0
pandas==2.2.3
pillow==11.3.0
pip-tools==7.5.0
platformdirs==4.4.0
polars==1.33.1
PyYAML==6.0.2
pyarrow==21.0.0
# Note: pinning pydantic and pyiceberg to specific versions due to a regression in
# their code, upgrade to latest once solved.
# See: https://github.com/apache/iceberg-python/issues/2590
# pyiceberg[glue]==0.10.0
pydantic==2.11.10
pyiceberg[glue]==0.9.1
pywin32==308; platform_system == "Windows"
requests==2.32.5
# Note: unpinning rich as part of the pydantic regression fix, reppin once it is
# resolved.
# rich==14.1.0
rich<14.0.0
rich-click==1.9.0
sqlalchemy==2.0.43
typing_extensions==4.15.0
uuid6==2025.0.1
uuid-v7==1.0.0
uv==0.8.17