#
# Copyright 2025 Tabs Data Inc.
#

accessify==0.3.1
base32hex==1.0.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
connectorx==0.4.2
filelock==3.18.0
humanize==4.12.1
hvac==2.3.0
importlib_metadata==8.6.1
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pip-tools==7.4.1
platformdirs==4.3.6
polars==1.25.2
PyYAML==6.0.2
pyarrow==19.0.1
pyiceberg[glue]==0.9.0
pywin32==308; platform_system == "Windows"
requests==2.32.3
rich==13.9.4
rich-click==1.8.8
sqlalchemy==2.0.39
typing_extensions==4.12.2
uuid6==2025.0.0
uuid-v7==1.0.0
uv==0.6.8