#
# Copyright 2025 Tabs Data Inc.
#

name: Release Workflow (Standard)

concurrency:
  group: >-
    ${{ github.workflow }}-
    ${{ github.event.pull_request.number || github.ref }}-
    ${{ github.event_name == 'schedule' && 'weekly' || 'build' }}
  cancel-in-progress: ${{ github.event_name != 'workflow_dispatch' }}

defaults:
  run:
    shell: bash
    working-directory: .

run-name: >
  ${{ github.event_name == 'workflow_dispatch' && format('Release Workflow (Standard) - ({0})', inputs.runner_action) || github.event_name == 'schedule' && 'Release Workflow (Standard) - (Weekly)' || '' }}

on:
  workflow_dispatch:
    inputs:
      job_timeout:
        description: "Minutes before job cancellation"
        required: true
        type: number
        default: 240
      dump_server:
        description: "Dump all instances contents"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'false'
      runner_action:
        description: "Action"
        required: true
        type: choice
        options: ['build', 'release', 'explore', 'lock', 'wheels4whl', 'wheels4repo']
        # build: standard build
        # release: standard build without rust tests
        # explore: standard build only with rust tests
        # lock: generate lock file (@deprecated)
        # wheels4whl: generate wheels to install directly
        # wheels4repo: generate wheels to install from a local repository
        default: 'build'
      run_on_linux_x86_64:
        description: "Run on Ubuntu (x86_64)"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'true'
      run_on_linux_arm_64:
        description: "Run on Ubuntu (arm_64)"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'false'
      run_on_macos_x86_64:
        description: "Run on macOS (x86_64)"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'true'
      run_on_macos_arm_64:
        description: "Run on macOS (arm_64)"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'true'
      run_on_windows_x86_64:
        description: "Run on Windows (x86_64)"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'true'
      run_on_windows_arm_64:
        description: "Run on Windows (arm_64)"
        required: false
        type: choice
        options: ['true', 'false']
        default: 'false'

  schedule:
     # Run at 02:00 UTC (03:00 AM Spain time) Monday to Friday
    - cron: "0 2 * * 1-5"

jobs:
  cap-job:
    name: Cap Job
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      job_timeout: ${{ steps.set-timeout.outputs.job_timeout }}

    steps:
      - name: Set Timeout
        id: set-timeout
        run: echo "job_timeout=${{ inputs.job_timeout || 240 }}" >> $GITHUB_OUTPUT

  describe-job:
    name: Describe Job
    permissions: write-all
    needs:
      - cap-job
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: .
    outputs:
      runner_action: ${{ steps.set-outputs.outputs.runner_action }}
      run_on_linux_x86_64: ${{ steps.set-outputs.outputs.run_on_linux_x86_64 }}
      run_on_linux_arm_64: ${{ steps.set-outputs.outputs.run_on_linux_arm_64 }}
      run_on_macos_x86_64: ${{ steps.set-outputs.outputs.run_on_macos_x86_64 }}
      run_on_macos_arm_64: ${{ steps.set-outputs.outputs.run_on_macos_arm_64 }}
      run_on_windows_x86_64: ${{ steps.set-outputs.outputs.run_on_windows_x86_64 }}
      run_on_windows_arm_64: ${{ steps.set-outputs.outputs.run_on_windows_arm_64 }}
    timeout-minutes: ${{ fromJson(needs.cap-job.outputs.job_timeout) }}

    steps:
      - name: Show Inputs
        id: show-inputs
        run: |
          echo "Workflow Inputs:"
          echo "${{ toJSON(github.event.inputs) }}"    

      - name: Set Inputs
        id: set-outputs
        run: |
          normalize_boolean() {
            local input_value=$(echo "$1" | tr '[:upper:]' '[:lower:]')
            case "$input_value" in
              "true" | "yes" | "1") echo "true" ;;
              "false" | "not" | "0") echo "false" ;;
              *) echo "$2" ;; # Default value if invalid
            esac
          }

          if [[ "${{ github.event_name }}" == "schedule" ]]; then
            echo "run_on_linux_x86_64=false" >> $GITHUB_ENV
            echo "run_on_linux_x86_64=false" >> $GITHUB_OUTPUT

            echo "run_on_linux_arm_64=false" >> $GITHUB_ENV
            echo "run_on_linux_arm_64=false" >> $GITHUB_OUTPUT

            echo "run_on_macos_x86_64=false" >> $GITHUB_ENV
            echo "run_on_macos_x86_64=false" >> $GITHUB_OUTPUT

            echo "run_on_macos_arm_64=false" >> $GITHUB_ENV
            echo "run_on_macos_arm_64=false" >> $GITHUB_OUTPUT

            echo "run_on_windows_x86_64=true" >> $GITHUB_ENV
            echo "run_on_windows_x86_64=true" >> $GITHUB_OUTPUT          

            echo "run_on_windows_arm_64=false" >> $GITHUB_ENV
            echo "run_on_windows_arm_64=false" >> $GITHUB_OUTPUT
          else
            expr_run_on_linux_x86_64="$(normalize_boolean "${{ github.event.inputs.run_on_linux_x86_64 }}" "true")"
            echo "run_on_linux_x86_64=$expr_run_on_linux_x86_64" >> $GITHUB_ENV
            echo "run_on_linux_x86_64=$expr_run_on_linux_x86_64" >> $GITHUB_OUTPUT
            
            expr_run_on_linux_arm_64="$(normalize_boolean "${{ github.event.inputs.run_on_linux_arm_64 }}" "false")"
            echo "run_on_linux_arm_64=$expr_run_on_linux_arm_64" >> $GITHUB_ENV
            echo "run_on_linux_arm_64=$expr_run_on_linux_arm_64" >> $GITHUB_OUTPUT
            
            expr_run_on_macos_x86_64="$(normalize_boolean "${{ github.event.inputs.run_on_macos_x86_64 }}" "true")"
            echo "run_on_macos_x86_64=$expr_run_on_macos_x86_64" >> $GITHUB_ENV
            echo "run_on_macos_x86_64=$expr_run_on_macos_x86_64" >> $GITHUB_OUTPUT
            
            expr_run_on_macos_arm_64="$(normalize_boolean "${{ github.event.inputs.run_on_macos_arm_64 }}" "true")"
            echo "run_on_macos_arm_64=$expr_run_on_macos_arm_64" >> $GITHUB_ENV
            echo "run_on_macos_arm_64=$expr_run_on_macos_arm_64" >> $GITHUB_OUTPUT
            
            expr_run_on_windows_x86_64="$(normalize_boolean "${{ github.event.inputs.run_on_windows_x86_64 }}" "true")"
            echo "run_on_windows_x86_64=$expr_run_on_windows_x86_64" >> $GITHUB_ENV
            echo "run_on_windows_x86_64=$expr_run_on_windows_x86_64" >> $GITHUB_OUTPUT
            
            expr_run_on_windows_arm_64="$(normalize_boolean "${{ github.event.inputs.run_on_windows_arm_64 }}" "false")"
            echo "run_on_windows_arm_64=$expr_run_on_windows_arm_64" >> $GITHUB_ENV
            echo "run_on_windows_arm_64=$expr_run_on_windows_arm_64" >> $GITHUB_OUTPUT   
          fi

      - name: Show Outputs
        id: show-outputs
        run: |
          echo "Workflow Outputs:"
          echo "- runner_action: ${{ steps.set-outputs.outputs.runner_action }}"          
          echo "- run_on_linux_x86_64: ${{ steps.set-outputs.outputs.run_on_linux_x86_64 }}"
          echo "- run_on_linux_arm_64: ${{ steps.set-outputs.outputs.run_on_linux_arm_64 }}"
          echo "- run_on_macos_x86_64: ${{ steps.set-outputs.outputs.run_on_macos_x86_64 }}"
          echo "- run_on_macos_arm_64: ${{ steps.set-outputs.outputs.run_on_macos_arm_64 }}"
          echo "- run_on_windows_x86_64: ${{ steps.set-outputs.outputs.run_on_windows_x86_64 }}"
          echo "- run_on_windows_arm_64: ${{ steps.set-outputs.outputs.run_on_windows_arm_64 }}"

  dispatch-job:
    name: Dispatch Job
    permissions: write-all
    needs:
      - cap-job
      - describe-job
    uses: tabsdata/tabsdata-ci/.github/workflows/make.yml@main
    secrets:
      PAT_AOINOKIMI: ${{ secrets.PAT_AOINOKIMI }}
      S30__S3_ACCESS_KEY: ${{ secrets.S30__S3_ACCESS_KEY }}
      S30__S3_SECRET_KEY: ${{ secrets.S30__S3_SECRET_KEY }}
      S30__S3_REGION: ${{ secrets.S30__S3_REGION }}
      S30__S3_URI: ${{ secrets.S30__S3_URI }}
      COPY_AWS_AWS_ACCESS_KEY_ID: ${{ secrets.COPY_AWS_AWS_ACCESS_KEY_ID }}
      COPY_AWS_AWS_REGION: ${{ secrets.COPY_AWS_AWS_REGION }}
      COPY_AWS_AWS_SECRET_ACCESS_KEY: ${{ secrets.COPY_AWS_AWS_SECRET_ACCESS_KEY }}
      COPY_AWS_BASE_URL: ${{ secrets.COPY_AWS_BASE_URL }}
      IMPORT_AWS_ACCESS_KEY: ${{ secrets.IMPORT_AWS_ACCESS_KEY }}
      IMPORT_AWS_REGION: ${{ secrets.IMPORT_AWS_REGION }}
      IMPORT_AWS_SECRET_KEY: ${{ secrets.IMPORT_AWS_SECRET_KEY }}
      IMPORT_AWS_BASE_URL: ${{ secrets.IMPORT_AWS_BASE_URL }}
      TRANSPORTER_AWS_ACCESS_KEY_ID: ${{ secrets.TRANSPORTER_AWS_ACCESS_KEY_ID }}
      TRANSPORTER_AWS_REGION: ${{ secrets.TRANSPORTER_AWS_REGION }}
      TRANSPORTER_AWS_SECRET_ACCESS_KEY: ${{ secrets.TRANSPORTER_AWS_SECRET_ACCESS_KEY }}
      TRANSPORTER_AWS_URI: ${{ secrets.TRANSPORTER_AWS_URI }}
      AZ0__AZ_ACCOUNT_KEY: ${{ secrets.AZ0__AZ_ACCOUNT_KEY }}
      AZ0__AZ_ACCOUNT_NAME: ${{ secrets.AZ0__AZ_ACCOUNT_NAME }}
      AZ0__AZ_URI: ${{ secrets.AZ0__AZ_URI }}
      COPY_AZURE_ACCOUNT_KEY: ${{ secrets.COPY_AZURE_ACCOUNT_KEY }}
      COPY_AZURE_ACCOUNT_NAME: ${{ secrets.COPY_AZURE_ACCOUNT_NAME }}
      COPY_AZURE_BASE_URL: ${{ secrets.COPY_AZURE_BASE_URL }}
      IMPORT_AZURE_ACCOUNT_KEY: ${{ secrets.IMPORT_AZURE_ACCOUNT_KEY }}
      IMPORT_AZURE_ACCOUNT_NAME: ${{ secrets.IMPORT_AZURE_ACCOUNT_NAME }}
      IMPORT_AZURE_BASE_URL: ${{ secrets.IMPORT_AZURE_BASE_URL }}
      TRANSPORTER_AZURE_ACCOUNT_KEY: ${{ secrets.TRANSPORTER_AZURE_ACCOUNT_KEY }}
      TRANSPORTER_AZURE_ACCOUNT_NAME: ${{ secrets.TRANSPORTER_AZURE_ACCOUNT_NAME }}
      GCP0__GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP0__GCP_SERVICE_ACCOUNT_KEY }}
      GCP0__GCP_STORAGE_URI: ${{ secrets.GCP0__GCP_STORAGE_URI }}
      DBX0__CATALOG: ${{ secrets.DBX0__CATALOG }}
      DBX0__HOST: ${{ secrets.DBX0__HOST }}
      DBX0__SCHEMA: ${{ secrets.DBX0__SCHEMA }}
      DBX0__TOKEN: ${{ secrets.DBX0__TOKEN }}
      DBX0__VOLUME: ${{ secrets.DBX0__VOLUME }}
      DBX0__WAREHOUSE_NAME: ${{ secrets.DBX0__WAREHOUSE_NAME }}
      SF0__INSTANCE_URL: ${{ secrets.SF0__INSTANCE_URL }}
      SF0__PASSWORD: ${{ secrets.SF0__PASSWORD }}
      SF0__SECURITY_TOKEN: ${{ secrets.SF0__SECURITY_TOKEN }}
      SF0__USERNAME: ${{ secrets.SF0__USERNAME }}
      SNW__ACCOUNT: ${{ secrets.SNW__ACCOUNT }}
      SNW__DATABASE: ${{ secrets.SNW__DATABASE }}
      SNW__PAT: ${{ secrets.SNW__PAT }}
      SNW__ROLE: ${{ secrets.SNW__ROLE }}
      SNW__SCHEMA: ${{ secrets.SNW__SCHEMA }}
      SNW__USER: ${{ secrets.SNW__USER }}
      SNW__WAREHOUSE: ${{ secrets.SNW__WAREHOUSE }}
    with:
      job_timeout: ${{ fromJson(needs.cap-job.outputs.job_timeout) }}
      dump_server: ${{ inputs.dump_server }}
      td_product: "standard"
      runner_mode: "release"
      runner_action: ${{ inputs.runner_action || 'build' }}
      run_on_linux_x86_64: ${{ needs.describe-job.outputs.run_on_linux_x86_64 }}
      run_on_linux_arm_64: ${{ needs.describe-job.outputs.run_on_linux_arm_64 }}
      run_on_macos_x86_64: ${{ needs.describe-job.outputs.run_on_macos_x86_64 }}
      run_on_macos_arm_64: ${{ needs.describe-job.outputs.run_on_macos_arm_64 }}
      run_on_windows_x86_64: ${{ needs.describe-job.outputs.run_on_windows_x86_64 }}
      run_on_windows_arm_64: ${{ needs.describe-job.outputs.run_on_windows_arm_64 }}
