/*
  * Copyright 2025 Tabs Data Inc.
  */

:root {
    --content-max-width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    text-align: justify;
}

#menu-bar {
    position: relative;
}

.menu-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}